p {
  color: $font-grey;
  font-size: 14px;
}

.section-heading {
  color: black;
  font-size: 22px;
  font-weight: 600;
}

.section-subheading {
  color: $font-grey;
  font-weight: 500;
  font-size: 20px;
}